## Test your knowledge. 

** Answer the following questions **

Write (or just say out loud to yourself) a brief description of all the following Object Types and Data Structures we've learned about. You can edit the cell below by double clicking on it. Really this is just to test if you know the difference between these, so feel free to just think about it, since your answers are self-graded.

Double Click HERE to edit this markdown cell and write answers.

Numbers:  Integer or floating point value elements.

Strings: Ordered, immutable sequences of character elements, that use quotation marks, and can be indexed and sliced.

Lists: Ordered, mutable sequences of elements that can hold a variety of object types, using square brackets.

Tuples: Immutable sequences of elements, that can be indexed and sequenced, using parentheses.

Dictionaries: Unordered mappngs of stored objects in  key-value pairs, using curly braces and colons; mutable, un-sortable.

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [68]:
(3*10) + (90/3) + (3**2) + 31.25

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [7]:
results = 44, 29, 34
a = 4*(6+5)
b = 4*6+5
c = 4+6*5
print(a,b,c, results)

44 29 34 (44, 29, 34)

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>

it is a FLOAT number

What would you use to find a numberâ€™s square root, as well as its square?

In [69]:
# Square root: math.sqrt(x): n ** 0.5

n = 36
q = n ** .5
print(q)

6.0

In [16]:
# Square: double asterisks

a = 3
x = a*a
print(x)
y = a**2
print(y)

9
9

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [18]:
s = 'hello'
# Print out 'e' using indexing

print(s[1])

e

Reverse the string 'hello' using slicing:

In [19]:
s ='hello'
# Reverse the string using slicing

print(s[::-1])

olleh

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [20]:
s ='hello'
# Print out the 'o'

# Method 1:

print(s[4])

o

In [21]:
# Method 2:

print(s[-1])

o

## Lists

Build this list [0,0,0] two separate ways.

In [22]:
# Method 1:
a = [0,0,0]
print(a)

[0, 0, 0]

In [70]:
# Method 2:
[0]*3

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [33]:
list3 = [1,2,[3,4,'hello']]

list3[2][2] = 'goodbye'
print(list3)

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [75]:
list4 = [5,3,4,6,1]

list4.sort()
print(list4)

list4 = [5,3,4,6,1]
u = sorted(list4)
print(u)

[1, 3, 4, 5, 6]
[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [37]:
d = {'simple_key':'hello'}
# Grab 'hello'
print(d['simple_key'])

hello

In [40]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
print(d['k1']['k2'])

hello

In [53]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
print(d['k1'][0]['nest_key'][1][0])

hello

In [56]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

print(d['k1'][2]['k2'][1]['tough'][2][0])

hello

Can you sort a dictionary? Why or why not?<br><br>

No, Dictionaries are object mappings*, not ordered sequences, and are therefore unsortable.

## Tuples

What is the major difference between tuples and lists?<br><br>

Tuples are NOT mutable.

How do you create a tuple?<br><br>

By defining using parentheses ().

## Sets

What is unique about a set?<br><br>

Sets can ONLY be composed of unique elements, and are not sortable. Must use.add() method to build sets. Return curly braces, formed by parentheses.

Use a set to find the unique values of the list below:

In [60]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

s = set(list5)
print(s)

set(list5)

{1, 2, 33, 4, 3, 11, 22}

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [61]:
# Answer before running cell: FALSE
2 > 3

False

In [62]:
# Answer before running cell: False
3 <= 2

False

In [63]:
# Answer before running cell: False
3 == 2.0

False

In [64]:
# Answer before running cell: TRUE
3.0 == 3

True

In [65]:
# Answer before running cell: FALSE
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [66]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?: FALSE
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!